coral-shell-content {
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
}

#sidebar-nav {
  border-right: 2px solid #e1e1e1;
  padding: 1px 3px;
  height: 850px;
}

#shell-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#sidebar > div {
  display: inline-block;
  min-width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#variable-label {
  padding-bottom: 20px;
}

#main-content {
  overflow-y: auto;
  margin-top: 10px;
}

#insight-row {
  margin-bottom: 40px;
}

.copiable {
  cursor: pointer;
}
.sidebar-label {
  font-size: 12px;
  display: block;
  color: #666;
  font-weight: 700;
  line-height: 1.5;
  /*letter-spacing: .06em;*/
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.carousel {
  /*background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 2px;*/
  margin: auto 30px;
}

.slick-prev:before,  .slick-next:before {
  color: #333333;
}

.coral--light ._coral-Card.slick-active {
  border: 1px solid #0a49bf;
}

.coral--light ._coral-Menu {
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

.coral--light ._coral-Menu-item:last-child {
  border-bottom: 1px solid #EEEEEE;
}

.chart-card {
  margin: 5px;
}
.coral--light coral-card-asset {
  /*height: 300px;*/
  text-align: center;
  background-color: #FFFFFF;
}

.bookmark-bar {
  padding: 8px 8px 0px 0px;
  text-align: right;
  color: #CCCCCC;
}

.bookmark-bar:hover {
  color: #0a49bf;
}

.chart-card.starred .bookmark-bar {
  color: #0a49bf;
}

/*.chart-card.hidden {
  display: none;
}*/

coral-card-content {
  display: none;
}

.row-score {
  float: left;
  position: relative;
  margin-right: 5px;
}

.row-score span {
  position: absolute;
  top: 2px; left: 0px;
  text-align: center;
  width: 32px;

}

.chart-score {
  font-weight: bold;
  margin-right: 5px;
}

.chart-div {
  margin-bottom: -5px;
}

hr.divider {
  border-top: 1px solid #CCC;
}